@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-full sm:max-w-[600px] md:max-w-[700px] lg:max-w-[950px] xl:max-w-[1170px] 2xl:max-w-[1300px] px-2 sm:px-0 mx-auto;
  }
}

@layer utilities {
  .hidescroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidescroll::-webkit-scrollbar {
    width: 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
