@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply fixed inset-0 top-0 left-0 overflow-y-auto;
  }
  .headerview {
    @apply h-[48px] sm:h-[56px] md:h-[64px] lg:h-[72px] xl:h-[80px];
  }
  .contentview {
    @apply h-[calc(100%-48px)] sm:h-[calc(100%-56px)] md:h-[calc(100%-64px)] lg:h-[calc(100%-72px)] xl:h-[calc(100%-80px)];
  }
}

@layer utilities {
  .scroller {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroller::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
