@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply fixed inset-0 overflow-y-auto;
  }
}

@layer utilities {
  .scroller {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroller::-webkit-scrollbar {
    width: 0;
  }
}
